.cart-actions {
  text-align: right;
}

.cart-actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.cart-actions button:hover,
.cart-actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.cart-actions .button--alt {
  color: #8a2b06;
}

.cart-actions .cart-button {
  background-color: #8a2b06;
  color: white;
}
